body
{
   margin-left: 5%;
   max-width: 100%;
   overflow-x: hidden;
}
.navbar-brand
{
   margin-left: 5%;
   margin-bottom: 20px;
}
.navbar-nav
{
   margin-right: 5%;
   margin-bottom: 20px;
}
.bodytop
{
   margin-top: 30px;
   margin-left: 10%;
   text-align: left;
   font-weight:bold;
}
.container
{
   margin: 60px;
   
}

