body
{
   margin-left: 5%;
   max-width: 100%;
   overflow-x: hidden;
}
.navbar-brand
{
   margin-left: 5%;
   margin-bottom: 20px;
}
.navbar-nav
{
   margin-right: 5%;
   margin-bottom: 20px;
}
.bodytop
{
   position:absolute; 
   margin-top: 10px;
   text-align: left;
   font-weight:bold;
   left: 5%;
      
}

input[type=range] {
   height: 10px;
   -webkit-appearance: none;
   margin: 10px ;
   width: 10%;
   border: 0px solid #010101;
   background: white;
 }

 .container-fluid
 {
    margin: 40px; 
    
 }

